.diagram {margin-top: 2rem; margin-bottom: 2rem;}

img[src*="fen.gif"] {
  width: 400px !important;
  height: auto;
}

#myBoard *,
#myBoard *::before,
#myBoard *::after,
#board *,
#board *::before,
#board *::after,
.board *,
.board *::before,
.board *::after {
  box-sizing: content-box !important; 
}

.board {
  width: 400px;
}

#board {width: 400px;}
.board-wrapper {max-width: 400px !important;}
.board-wrapper * {box-sizing: content-box !important;}
FEN {display: none;}

